body {
  font-family: "Roboto Condensed", sans-serif;
  color: #43464b;
}
.container {
  border: 0.5px solid #43464b;
  border-radius: 10px;
  max-width: 700px;
  max-height: 500px;
  margin: 30px auto;
}
.search-form {
  margin-left: 110px;
  margin-top: 20px;
  padding-top: 10px;
  width: 500px;
}
#basic-addon2 {
  margin-left: -20px;
}
#basic-addon3 {
  margin-left: -50px;
}
.col-6 {
  margin-bottom: 20px;
}
.location {
  margin-top: 60px;
}
h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
}
.h2 {
  font-size: 25px;
  font-weight: 120;
  margin-top: -3px;
}
.h3 {
  font-size: 15px;
  font-weight: 100;
  margin-top: -20px;
}
.currentWeather {
  text-align: center;
  margin-top: 40px;
  margin-left: 45px;
}
.vl {
  border-left: 0.5px solid black;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: 20px;
  top: 180px;
}
.temperatureValue {
  font-size: 45px;
}
#icon {
  width: 60%;
  margin-top: 8px;
}
.text-temperature {
  font-size: 15px;
  margin-top: -20px;
}
#description {
  color: #fff;
}
.dates {
  text-align: center;
  margin-top: 7px;
}
.weather-icons {
  margin-top: 10px;
  text-align: center;
}
.temperature-day-night {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 170px;
}
#forecast {
  margin-bottom: 20px;
}
small {
  margin-left: -14px;
}
