.Weather {
  border: 1px solid #ece9e4;
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #999999;
  background-color: #f8f8f7;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  margin: 20px 0 0 0;
  line-height: 28px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin-top: 5px;
  margin-right: 5px; 
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  color: #000;
  line-height: 64px;
}

.Weather .unit {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

#searchButton {
  background-color: #999999;
  border: #999999;
  color: #f8f8f7;
}

footer {
  color: #999999;
}

footer a {
  color: #999999;
}

#formPlaceholder {
  color: #999999;
}